
<h3>Display</h3>
<div class="box">
  <div class="content registerBox">
    <div class="form">
      <%= form_for(@user, :html => {:id => "sign_up_user"}, url: users_path) do |f| %>
        <p>
          <%= f.label :first_name %><br>
          <%= f.text_field :first_name%>
        </p>
      
        <p>
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name %>
        </p>
      
        <p>
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </p>

        <p>
          <%= f.label :password %><br>
          <%= f.text_field :password %>
        </p>

          <p>
          <%= f.label :confirm_password %><br>
          <%= f.text_field :confirm_password %>
        </p>

        <p>
          <%= f.submit %>
        </p>
      <% end %>
    </div>
  </div>
</div>